:root {
  background-color: #cccc;
}

.event-list,
.event-page {
  background-color: #f7f9fdcc;
}

.add-event,
.event-list {
  padding: 2em;
}

.event-page {
  padding: 3em;
}

.event-list li,
nav li,
.event-page {
  list-style: none;
}

.event-page-card {
  margin-top: 3em;
}

.navigation {
  background-color: #edf2f7;
  padding: 1em;
}

.heading-large {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #3a3a3a;
}

.text {
  color: #3a3a3a;
}

option {
  margin-left: 1em;
  margin-top: 0.3em;
  display: inline-block;
  padding-bottom: 0;
}

select {
  height: 32px;
}

.asterix {
  margin-top: 0;
  padding-left: 1em;
  font-size: 0.8em;
}

.user-portrait {
  width: 80px;
  border-radius: 50%;
}

.radio {
  padding-bottom: 2.5em;
}

.event-times {
  padding-top: 1.5em;
}

.event-edit-buttons {
  padding-top: 1em;
  align-items: end;
}

.edit {
  margin-right: 1em;
}

.event-page-card {
  margin: auto;
}

.input {
  padding-left: 1em;
  padding-right: 1em;
  background: rgb(230, 230, 230);
}

.authors {
  padding-left: 0.9em;
}

.submit-button {
  padding-top: 2em;
  padding-bottom: 1em;
  float: right;
}

.editable {
  width: 400px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
}

.event-image {
  margin-top: 3em;
}
